
<div class="text-center">
  <div>
    <img src="/images/sumtotal.jpg" width="300px" height="80px" alt="SumTotal">
  </div>
</br></br>
  <div class="logo">
    Sprint Planning Poker
  </div>
</br>
  <div>
    <img src="images/planningPoker.jpg" width="250px" height="250px" alt="SumTotal">
  </div>
</br>
  <div class="call">
    <p><a href="#/games/new" class="btn btn-primary btn-lg">Play now</a></p>
  </br>
  <div class="width-700">
    <b>You can click on play now to start a new game and add stories to it. Just share the browser address of the game with your team members and you are ready to estimate.</b>
  </div>
  </div>
 </div>
